@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-primary: "Exo 2", sans-serif;

  --color-primary: #151618;
  --color-accent: #f6cd46;
  --color-accent-hover: #e1b72e;
  --color-body: #1d1f23;

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 960px;
  --breakpoint-xl: 1440px;

  --background-image-mainSlider: url("/assets/mainSlider_bg.png");
}

@layer utilities {
  @keyframes shake {
    10%,
    90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
      transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
      transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  .animate-shake {
    animation: shake 1s ease-in-out;
  }
}

body {
  @apply font-primary bg-body text-white;
}

.container {
  @apply px-3.75 w-full max-w-360 mx-auto;
}

.h2 {
  @apply text-3xl capitalize;
}

.grad {
  @apply bg-gradient-to-t from-[#1F2126] to-[#33363D] drop-shadow-2xl;
}

.btn {
  @apply h-12.5 flex justify-center items-center rounded-lg px-10 py-2.5 text-sm uppercase font-bold transition-colors duration-300 cursor-pointer;
}

.btn-accent {
  @apply bg-accent text-primary hover:bg-accent-hover;
}

.input {
  @apply h-12.5 rounded-lg w-full outline-none px-6 text-primary;
}

.mainSlider .swiper-pagination-bullets {
  bottom: 1.5rem;
}
.mainSlider .swiper-pagination-bullet,
.productSlider .swiper-pagination-bullet {
  background: #f6cd46;
}

.productSlider .swiper-button-prev::after {
  font-size: 2rem;
}

.swiper-button-next,
.swiper-button-prev {
  color: #f6cd46 !important;
  width: 3rem;
  height: 3rem;
}

.custom-zoom [data-rmiz-modal-overlay],
.custom-zoom [data-rmiz-modal-img] {
  transition-duration: 0.8s;
  transition-timing-function: linear;
}

.custom-zoom [data-rmiz-modal-overlay="hidden"] {
  background-color: #000000e6;
}

.custom-zoom [data-rmiz-modal-overlay="visible"] {
  background-color: #000000e6;
}

.custom-zoom [data-rmiz-btn-unzoom] {
  background-color: #000000;
  color: #ffffff;
}

.custom-zoom [data-rmiz-btn-unzoom]:focus-visible {
  outline-offset: 0.2rem;
  outline: 0.1rem solid #ffffff;
}
